/* CSS Document */
ul#events{
	list-style:none;
	padding: 0;
	margin: 0;
}
#recent_event_title{
	display:none;
}

.google-maps {
    position: relative;
    padding-bottom: 90%; // (450 ÷ 500 = 0.9 = 90%)
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg_{
	background-color: #f38609;
	background-image: url(../images/bg-dark.png);
	background-repeat: repeat;
	background-position: center top;
}
#sidemenu a, #sidemenu a:hover {
	color: #ffbe00 !important;
}