.header-logo, #header .header-body{
    height:auto !important;
    min-height: auto !important;
}

#footer .contact i {
    margin: 7px 8px 5px 0;
}

*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input{
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
*{
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
}
*{
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: inherit;
    border-color: #4a4a4a;
    color: inherit;
    text-shadow: 0 1px 0 #444444;
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: inherit;
    font-weight: bold;
}
.footer-buttons{
    font-size: 1.5em;
    color: #fff !important;
}
.footer-buttons a{
    color: #fff !important;
}
[data-role=page]{
    margin-bottom: 100px;
    margin-top: 100px;

}